src/intertest/wsdl/30/wsdl/auth.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Service.RNS.app" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Service.RNS.app" xmlns:intf="http://Service.RNS.app" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="RandomRequest">

   </wsdl:message>

   <wsdl:message name="AuthSecAssertResponse">

      <wsdl:part name="AuthSecAssertReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AuthSecAssertRequest">

      <wsdl:part name="inStr" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RandomResponse">

      <wsdl:part name="RandomReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthServiceImpl">

      <wsdl:operation name="Random">

         <wsdl:input message="impl:RandomRequest" name="RandomRequest">

       </wsdl:input>

         <wsdl:output message="impl:RandomResponse" name="RandomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AuthSecAssert" parameterOrder="inStr">

         <wsdl:input message="impl:AuthSecAssertRequest" name="AuthSecAssertRequest">

       </wsdl:input>

         <wsdl:output message="impl:AuthSecAssertResponse" name="AuthSecAssertResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthServiceSoapBinding" type="impl:AuthServiceImpl">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Random">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RandomRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://Service.RNS.app" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RandomResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://Service.RNS.app" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AuthSecAssert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AuthSecAssertRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://Service.RNS.app" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="AuthSecAssertResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://Service.RNS.app" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthServiceImplService">

      <wsdl:port binding="impl:AuthServiceSoapBinding" name="AuthService">

         <wsdlsoap:address location="http://172.30.202.27:8086/app/services/AuthService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
